<div>
    <h1>Create new PCL suite</h1>
    <label for="name">Name:</label>    
    <input type="text" class="form-control" [(ngModel)]="this.name" id="name" name="name"/>
    
    <label for="description">Description:</label>
    <textarea class="form-control" [(ngModel)]="this.description" id="description" name="description" ></textarea>
    <p class="mt-2">
        <button class="btn btn-primary" (click)="this.save()">Save</button>
        <span class="d-block m-3 alert alert-danger" *ngIf="this.error != null && this.error.length > 0">{{error}}</span>
    </p>
</div>
